@import url('https://fonts.googleapis.com/css?family=Lobster|Spicy+Rice');

body {
	background-color: #ebc9d7;
    background-image: url("../img/gatos.png");
    background-repeat: repeat;
    background-size: 200px 200px;
}

.container{
	background-color: #deebf9;

	height: 800px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 92px;
	margin-left: 92px;
	border-radius: 20px;

	text-align: center;
}

.main_image{
	width: 400px;
	height: 400px;
	margin-top: 20px;

	border-radius: 50%;
}

.title{
	font-family: 'Spicy Rice', cursive;
	font-size: 60px;
}

.message {
	padding: 5px;
	font-size: 40px;
	font-family: 'Lobster', cursive;
}